body{
    background: #99D9DD;
}
.num1{
    font-size: 3em;
    color: #1474DA;
    }
    .video1{
        margin-left: 25em;
    }
    .parr1{
     margin-left: 22em;
     font-size: 1.5em;
    }
    .parr2{
        margin-left: 25em;
        font-size: 1em;
        color: #D89D43;
       }
    .aba1{
        color: powderblue;
        background-color: black;
        margin-top: 10em;
    
    }